@font-face {
    font-family: 'ortica_bold';
    src:     url("../fonts/ortica/ortica_bold.otf");
}

@font-face {
    font-family: 'ortica_light';
    src:    url("../fonts/ortica/ortica_light.otf");
}

img {
    height: 100% !important;
    max-width: : 100px;
}

a{
        text-decoration: none;
    }

.background_site{
    background-color: white;
}

.headerm {
    font-family: 'ortica_bold';
    text-align: center;
    font-size: 70px;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

.div_infos a {
    color: black;
}

.div_retour a {
    color: black;
}


.div_retour {
    font-family: 'ortica_light';
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}


.div_retour2 {
    font-family: 'ortica_light';
    text-align: left;
    margin-top: 10px;
    
}

.div_retour a:hover{
    font-family: 'ortica_bold';
    
}

.underline{
    text-decoration: underline;
}

.div_infos {
    font-family: 'ortica_light';
    text-align: right;
    font-size: 14px;
    margin-right: 30px;
}

.div_infos2 {

    position: absolute;
    bottom:0;
    font-family: 'ortica_light';
    font-size: 150%;

}

.div_infos a:hover{
    font-family: 'ortica_bold';
}

.a_liens {
    color: black;
    font-family: 'ortica_light';
}

.div_liens{
    font-family:'ortica_light';
    text-align: left;
    font-size: 40px;
    margin-left: 30px;
    margin-right: 150px;
    margin-bottom: 130px;
}   

.div_liens a:hover{
    font-family: 'ortica_bold';
    background-image: url(../img/typo/0040.jpg) absolute;
}

.retour{
    font-family: 'ortica_lights';
    text-align: left;
    font-size: 14px;
    color: black;
}

img{
    max-width: 50%;
    height: auto;   
}

.image img{
    float: left;
    margin: 10px 10px 10px 20px;
}

.conteneur_blocs{
    height: 900px;
    display: flex;
    flex-direction: row; 
    border: 2px solid black;
    justify-content: center;
    align-content: space-around;
}

.container_inde{
    display: flex;
    height: 950px;
    border: 2px solid black;
    flex-direction: line;           /* choix de l'axe principal*/
    flex-wrap: wrap;                /* Retour à la ligne/colonne quand la fenêtre reduit*/
    justify-content: space-between;  /* flex-start; flex-end; center; space-between; space-around "ALIGNEMENT AXE PRINCIPALE"*/
    align-items: center;            /* Alignement sur axe secondaire*/
    align-content: flex-start;      /* Alignement des lignes/colonnes sur l'axe secondaire*/
    margin-right: 30px;
}

.element_index{

    margin-top: 15px;
    width: 700px;
    height: 900px;
    border: 2px black solid;

}

.blocindex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imageindex {
    text-align: right;
    margin-right: 30px;
}
